{% import '../functions.php' as functions %}
{% set books = functions.getData('authors.txt') %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Author list</title>
		<link rel="stylesheet" href="styles.css">
	</head>

	<body>
		<div id="container">
			<header>
				<div class="header-footer">
					<a href="index.twig">Books</a>&nbsp;|&nbsp;
					<a href="book-add.twig">Add books</a>&nbsp;|&nbsp;
					<a href="">Authors</a>&nbsp;|&nbsp;
					<a href="author-add.twig">Add authors</a>
				</div>
				{% if msg is defined and msg == 'success' %}
					<div class="header-footer" id="success-message">
						Success!
					</div>
				{% endif %}
			</header>
			<main>
				<section>
					<div class="row labels">
						<div class="column left">First name</div>
						<div class="column middle">Last name</div>
						<div class="column right">Rating</div>
					</div>
					<hr>
					{% for author in authors %}
						<div class="row">
							<div class="column left">
								{{ author[0] }}
							</div>
							<div class="column middle">
								{{ author[1] }}
							</div>
							<div class="column right">
								{{ author[2] }}
							</div>
						</div>
					{% endfor %}
				</section>
			</main>
			<footer>
				<div class="header-footer">
					Library Project
				</div>
			</footer>
		</div>
	</body>
</html>
